<plugin name='cucumber' version='0.1' grailsVersion='1.4 &gt; *'>
  <author>James Wolstenholme</author>
  <authorEmail>j@meswolstenholme.com</authorEmail>
  <title>Grails Cucumber Plugin</title>
  <description>https://github.com/jwolstenholme/grails-cucumber
</description>
  <documentation>http://grails.org/plugin/cucumber</documentation>
  <type>CucumberGrailsPlugin</type>
  <resources />
  <dependencies />
  <behavior />
</plugin>